In [21]:
#--Dependencies and Setup
import pandas as pd
import numpy as np

In [22]:
#--Point to csv files
school_path = "Resources/schools_complete.csv"
student_path = "Resources/students_complete.csv"

In [23]:
#--Read data and store in dataframe
school_df = pd.read_csv(school_path)
student_df = pd.read_csv(student_path)

#--District Summary Variables
school_total
students_total
budget_total
math_avg
reading_avg
overall_avg
student_math70_greater
student_reading70_greater
student_math70_greater_count
student_reading70_greater_count
student_overall_70greater
student_overall_70greater_count
percent_pass_math
percent_pass_reading
percent_pass_overall
#--School Summary Variables

In [26]:
#--Check number of rows and columns
school_df.shape

(15, 5)

In [27]:
#--Check missin data (if some rows is missing)
school_df.count()

School ID      15
school_name    15
type           15
size           15
budget         15
dtype: int64

In [28]:
#--Check number of rows and columns
student_df.shape

(39170, 7)

In [29]:
#--Check missin data (if some rows is missing)
student_df.count()

Student ID       39170
student_name     39170
gender           39170
grade            39170
school_name      39170
reading_score    39170
math_score       39170
dtype: int64

In [33]:
#--Combine school_df and student_df
data_combined = pd.merge(student_df, school_df, how = "left", on=["school_name","school_name"])

In [34]:
data_combined.head(1)

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

##--District Summary--##

In [ ]:
budget_total = school_df["budget"].sum()
budget_total

In [ ]:
math_avg = student_df["math_score"].mean()
math_avg

In [ ]:
reading_avg = student_df["reading_score"].mean()
reading_avg

In [ ]:
overall_avg = (math_avg + reading_avg)/2
overall_avg

In [ ]:
student_math70_greater = student_df.loc[student_df["math_score"]>=70]
student_math70_greater_count = student_math70_greater["Student ID"].count()
student_math70_greater_count

In [ ]:
percent_pass_math = (student_math70_greater_count/students_total)*100
percent_pass_math

In [ ]:
student_reading70_greater = student_df.loc[student_df["reading_score"]>=70]
student_reading70_greater_count = student_reading70_greater["Student ID"].count()
student_reading70_greater_count

In [ ]:
percent_pass_reading = (student_reading70_greater_count/students_total)*100
percent_pass_reading

In [ ]:
student_overall_70greater = student_df.loc[(student_df["math_score"]>=70) & (student_df["reading_score"]>=70)]
student_overall_70greater_count = student_overall_70greater["Student ID"].count()
student_overall_70greater_count

In [ ]:
#--calculate using | result = 95% using & result = 65%
percent_pass_overall = (student_overall_70greater_count/students_total)*100
percent_pass_overall

In [ ]:
#--Create Dataframe from variables

district_summary = {
                "Total Schools" : [schools_total],
                "Total Students": [students_total],
                "Total Budget" : [budget_total],
                "Average Math Score" : [math_avg],
                "Average Reading Score" :[reading_avg],
                "% Passing Math" : [percent_pass_math],
                "% Passing Reading": [percent_pass_reading],
                "% Overall Passing Rate" : [overall_avg]
                }
pd.DataFrame.from_dict(district_summary)

##--School Summary--##

In [ ]:
# #--Combine school_df and student_df
# school_summary = pd.merge(school_df, student_df, how = "left", on=["school_name","school_name"])
# school_summary.columns

In [ ]:
#--Count Student in each school
student_df["school_name"].value_counts()

In [ ]:
#--Create conditional to add new values in new columns
reading_math_pass = student_df
reading_math_pass.head()

In [ ]:
#--Adding new data using conditions
reading_math_pass.loc[(reading_math_pass["reading_score"] >= 70) | (reading_math_pass["math_score"] >= 70), "overall"] = 1
reading_math_pass.loc[(reading_math_pass["reading_score"] < 70) & (reading_math_pass["math_score"] < 70), "overall"] = 0
reading_math_pass.loc[reading_math_pass["reading_score"] >= 70, "reading_pass"] = 1
reading_math_pass.loc[reading_math_pass["reading_score"] < 70, "reading_pass"] = 0
reading_math_pass.loc[reading_math_pass["math_score"] >= 70, "math_pass"] = 1
reading_math_pass.loc[reading_math_pass["math_score"] < 70, "math_pass"] = 0
reading_math_pass.loc[reading_math_pass["student_name"] != "","student"] = 1

reading_math_pass.head()

In [ ]:
#--Seleting columns
school_summary_df = reading_math_pass[["school_name","reading_score","math_score","reading_pass","math_pass","overall","student"]]
school_summary_df.head()

In [ ]:
#--GroupBy data
grouped_schools = school_summary_df.groupby("school_name").agg({'reading_score':'mean',
                                  'math_score':'mean',
                                  'reading_pass':'sum',
                                  'math_pass':'sum',
                                  'overall':'sum',
                                  'student':'sum'
                                 }).rename(columns={'reading_score':'Average Reading Score',
                                                    'math_score':'Average Math Score'                   
                                                   })
    
# grouped_schools = school_summary_df.groupby("school_name")
#g_schools_sum = grouped_schools.mean()
#g_schools_sum.head(14)
grouped_schools.head(14)

# df = (df.groupby('Name', as_index=False)
#        .agg({'Missed':'sum', 'Credit':'sum','Grade':'mean'})
#        .rename(columns={'Missed':'Sum1', 'Credit':'Sum2','Grade':'Average'}))

In [ ]:
grouped_schools['% Passing Math'] = (grouped_schools["math_pass"]/grouped_schools["student"])*100
grouped_schools['% Passing Reading'] = (grouped_schools["reading_pass"]/grouped_schools["student"])*100
grouped_schools['% Overall Passing Rate'] = (grouped_schools["overall"]/grouped_schools["student"])*100

grouped_schools.head(14)