In [128]:
#--Dependencies and Setup
import pandas as pd
import numpy as np

Delete line 10, 41

In [129]:
#--Point to csv files
school_path = "Resources/schools_complete.csv"
student_path = "Resources/students_complete.csv"

In [130]:
#--Read data and store in dataframe
school_df = pd.read_csv(school_path)
student_df = pd.read_csv(student_path)

In [131]:
#--District Summary Variables
school_total
students_total
budget_total
math_avg
reading_avg
overall_avg
student_math70_greater
student_reading70_greater
student_math70_greater_count
student_reading70_greater_count
student_overall_70greater
student_overall_70greater_count
percent_pass_math
percent_pass_reading
percent_pass_overall
#--School Summary Variables

NameError: name 'school_total' is not defined

In [132]:
#--Check number of rows and columns
school_df.shape

(15, 5)

In [133]:
#--Check missin data (if some rows is missing)
school_df.count()

School ID      15
school_name    15
type           15
size           15
budget         15
dtype: int64

In [134]:
#--Check number of rows and columns
student_df.shape

(39170, 7)

In [135]:
#--Check missin data (if some rows is missing)
student_df.count()

Student ID       39170
student_name     39170
gender           39170
grade            39170
school_name      39170
reading_score    39170
math_score       39170
dtype: int64

# --District Summary--##

In [136]:
schools_total = school_df["school_name"].count()
schools_total

15

In [137]:
students_total = student_df["student_name"].count()
students_total

39170

In [138]:
budget_total = school_df["budget"].sum()
budget_total

24649428

In [139]:
math_avg = student_df["math_score"].mean()
math_avg

78.98537145774827

In [140]:
reading_avg = student_df["reading_score"].mean()
reading_avg

81.87784018381414

In [141]:
overall_avg = (math_avg + reading_avg)/2
overall_avg

80.43160582078121

In [142]:
student_math70_greater = student_df.loc[student_df["math_score"]>=70]
student_math70_greater_count = student_math70_greater["Student ID"].count()
student_math70_greater_count

29370

In [143]:
percent_pass_math = (student_math70_greater_count/students_total)*100
percent_pass_math

74.9808526933878

In [144]:
student_reading70_greater = student_df.loc[student_df["reading_score"]>=70]
student_reading70_greater_count = student_reading70_greater["Student ID"].count()
student_reading70_greater_count

33610

In [145]:
percent_pass_reading = (student_reading70_greater_count/students_total)*100
percent_pass_reading

85.80546336482001

In [146]:
student_overall_70greater = student_df.loc[(student_df["math_score"]>=70) & (student_df["reading_score"]>=70)]
student_overall_70greater_count = student_overall_70greater["Student ID"].count()
student_overall_70greater_count

25528

In [147]:
#--calculate using | result = 95% using & result = 65%
percent_pass_overall = (student_overall_70greater_count/students_total)*100
percent_pass_overall

65.17232575950983

In [148]:
#--Create Dataframe from variables

district_summary = {
                "Total Schools" : [schools_total],
                "Total Students": [students_total],
                "Total Budget" : [budget_total],
                "Average Math Score" : [math_avg],
                "Average Reading Score" :[reading_avg],
                "% Passing Math" : [percent_pass_math],
                "% Passing Reading": [percent_pass_reading],
                "% Overall Passing Rate" : [overall_avg]
                }
pd.DataFrame.from_dict(district_summary)

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
0,15,39170,24649428,78.985371,81.87784,74.980853,85.805463,80.431606

# --School Summary--##

In [149]:
# #--Combine school_df and student_df
# school_summary = pd.merge(school_df, student_df, how = "left", on=["school_name","school_name"])
# school_summary.head(14)

In [150]:
#--Show merging dataframe index
# school_summary.columns

In [151]:
student_df.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score
0,0,Paul Bradley,M,9th,Huang High School,66,79
1,1,Victor Smith,M,12th,Huang High School,94,61
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58
4,4,Bonnie Ray,F,9th,Huang High School,97,84

In [152]:
#--Adding new data using conditions
# reading_math_pass.loc[(reading_math_pass["reading_score"] >= 70) & (reading_math_pass["math_score"] >= 70), "overall"] = 1
# reading_math_pass.loc[(reading_math_pass["reading_score"] < 70) & (reading_math_pass["math_score"] < 70), "overall"] = 0
# reading_math_pass.loc[reading_math_pass["reading_score"] >= 70, "reading_pass"] = 1
# reading_math_pass.loc[reading_math_pass["reading_score"] < 70, "reading_pass"] = 0
# reading_math_pass.loc[reading_math_pass["math_score"] >= 70, "math_pass"] = 1
# reading_math_pass.loc[reading_math_pass["math_score"] < 70, "math_pass"] = 0
# reading_math_pass.loc[reading_math_pass["student_name"] != "","student"] = 1

# reading_math_pass.head()

In [153]:
school_sum = student_df[['school_name','student_name','reading_score','math_score']]
school_sum.head()
# overall = (school_sum_df['reading_score']) / 2
# school_sum_df['overall'] = overall

         school_name       student_name  reading_score  math_score
0  Huang High School       Paul Bradley             66          79
1  Huang High School       Victor Smith             94          61
2  Huang High School    Kevin Rodriguez             90          60
3  Huang High School  Dr. Richard Scott             67          58
4  Huang High School         Bonnie Ray             97          84

In [154]:
school_sum.loc[school_sum["reading_score"] >= 70, "reading_pass"] = 1
school_sum.loc[school_sum["reading_score"] < 70, "reading_pass"] = 0
school_sum.loc[school_sum["math_score"] >= 70, "math_pass"] = 1
school_sum.loc[school_sum["math_score"] < 70, "math_pass"] = 0

In [155]:
school_sum.describe()

       reading_score    math_score  reading_pass     math_pass
count    39170.00000  39170.000000  39170.000000  39170.000000
mean        81.87784     78.985371      0.858055      0.749809
std         10.23958     12.309968      0.348999      0.433129
min         63.00000     55.000000      0.000000      0.000000
25%         73.00000     69.000000      1.000000      0.000000
50%         82.00000     79.000000      1.000000      1.000000
75%         91.00000     89.000000      1.000000      1.000000
max         99.00000     99.000000      1.000000      1.000000

In [156]:
#--GroupBy data
grouped_schools = school_sum.groupby("school_name", as_index=False).agg({'reading_score':'mean',
                                                                         'math_score':'mean',
                                                                         'reading_pass':'mean',
                                                                         'math_pass':'mean',
                                 }).rename(columns={'reading_score':'Average Reading Score',
                                                    'math_score':'Average Math Score',
                                                   })    
# grouped_schools = school_summary_df.groupby("school_name")
#g_schools_sum = grouped_schools.mean()
#g_schools_sum.head(14)
grouped_schools.head(14)

# df = (df.groupby('Name', as_index=False)
#        .agg({'Missed':'sum', 'Credit':'sum','Grade':'mean'})
#        .rename(columns={'Missed':'Sum1', 'Credit':'Sum2','Grade':'Average'}))

,school_name,Average Reading Score,Average Math Score,reading_pass,math_pass
0,Bailey High School,81.033963,77.048432,0.819333,0.666801
1,Cabrera High School,83.975780,83.061895,0.970398,0.941335
2,Figueroa High School,81.158020,76.711767,0.807392,0.659885
3,Ford High School,80.746258,77.102592,0.792990,0.683096
4,Griffin High School,83.816757,83.351499,0.971390,0.933924
5,Hernandez High School,80.934412,77.289752,0.808630,0.667530
6,Holden High School,83.814988,83.803279,0.962529,0.925059
7,Huang High School,81.182722,76.629414,0.813164,0.656839
8,Johnson High School,80.966394,77.072464,0.812224,0.660576
9,Pena High School,84.044699,83.839917,0.959459,0.945946
10,Rodriguez High School,80.744686,76.842711,0.802201,0.663666
11,Shelton High School,83.725724,83.359455,0.958546,0.938671
12,Thomas High School,83.848930,83.418349,0.973089,0.932722
13,Wilson High School,83.989488,83.274201,0.965396,0.938677

In [157]:
grouped_schools['% Passing Math'] = grouped_schools["math_pass"]*100
grouped_schools['% Passing Reading'] = grouped_schools["reading_pass"]*100
grouped_schools['% Overall Passing Rate'] = (grouped_schools['% Passing Math']+grouped_schools['% Passing Reading'])/2

grouped_schools.head(14)

,school_name,Average Reading Score,Average Math Score,reading_pass,math_pass,% Passing Math,% Passing Reading,% Overall Passing Rate
0,Bailey High School,81.033963,77.048432,0.819333,0.666801,66.680064,81.933280,74.306672
1,Cabrera High School,83.975780,83.061895,0.970398,0.941335,94.133477,97.039828,95.586652
2,Figueroa High School,81.158020,76.711767,0.807392,0.659885,65.988471,80.739234,73.363852
3,Ford High School,80.746258,77.102592,0.792990,0.683096,68.309602,79.299014,73.804308
4,Griffin High School,83.816757,83.351499,0.971390,0.933924,93.392371,97.138965,95.265668
5,Hernandez High School,80.934412,77.289752,0.808630,0.667530,66.752967,80.862999,73.807983
6,Holden High School,83.814988,83.803279,0.962529,0.925059,92.505855,96.252927,94.379391
7,Huang High School,81.182722,76.629414,0.813164,0.656839,65.683922,81.316421,73.500171
8,Johnson High School,80.966394,77.072464,0.812224,0.660576,66.057551,81.222432,73.639992
9,Pena High School,84.044699,83.839917,0.959459,0.945946,94.594595,95.945946,95.270270
10,Rodriguez High School,80.744686,76.842711,0.802201,0.663666,66.366592,80.220055,73.293323
11,Shelton High School,83.725724,83.359455,0.958546,0.938671,93.867121,95.854628,94.860875
12,Thomas High School,83.848930,83.418349,0.973089,0.932722,93.272171,97.308869,95.290520
13,Wilson High School,83.989488,83.274201,0.965396,0.938677,93.867718,96.539641,95.203679

In [158]:
grouped_schools.columns

Index(['school_name', 'Average Reading Score', 'Average Math Score',
       'reading_pass', 'math_pass', '% Passing Math', '% Passing Reading',
       '% Overall Passing Rate'],
      dtype='object')

In [159]:
school_summary_table = pd.merge(school_df,grouped_schools, on=["school_name","school_name"])
school_summary_table.columns

Index(['School ID', 'school_name', 'type', 'size', 'budget',
       'Average Reading Score', 'Average Math Score', 'reading_pass',
       'math_pass', '% Passing Math', '% Passing Reading',
       '% Overall Passing Rate'],
      dtype='object')

In [160]:
school_summary_report = school_summary_table[["school_name","type","budget",
                       'Average Math Score','Average Reading Score',
                       'reading_pass','math_pass', '% Passing Math','% Passing Reading',
                        '% Overall Passing Rate']]
school_summary_report.head()
#df[df.columns[1:4]] 
#school_summary_printout.head()
#school_summary_table.loc[:, ['school_name', 'type','student','budget_x','Per Student Budget',
#                             'Average Math Score','Average Reading Score',
#                             '% Passing Math','% Passing Math','% Overall Passing Rate']] 
# school_summary_rename_printout=school_summary_printout.rename(columns ={'school_name':'School Name','type':'School Type',
#                                          'budget_x':'Total School Budget'})
# school_summary_rename_printout.style.hide_index()

,school_name,type,budget,Average Math Score,Average Reading Score,reading_pass,math_pass,% Passing Math,% Passing Reading,% Overall Passing Rate
0,Huang High School,District,1910635,76.629414,81.182722,0.813164,0.656839,65.683922,81.316421,73.500171
1,Figueroa High School,District,1884411,76.711767,81.158020,0.807392,0.659885,65.988471,80.739234,73.363852
2,Shelton High School,Charter,1056600,83.359455,83.725724,0.958546,0.938671,93.867121,95.854628,94.860875
3,Hernandez High School,District,3022020,77.289752,80.934412,0.808630,0.667530,66.752967,80.862999,73.807983
4,Griffin High School,Charter,917500,83.351499,83.816757,0.971390,0.933924,93.392371,97.138965,95.265668

# --Top Performing Schools (By Passing Rate)

In [ ]:
#vehicles_df.sort_values("Fuel Economy (mpg)")
top_School = school_summary_rename_printout.sort_values('% Overall Passing Rate',ascending=False)
# top_School.head()
top_School.style.hide_index()

# --Bottom Performing Schools (By Passing Rate)

In [ ]:
#vehicles_df.sort_values("Fuel Economy (mpg)")
bottom_School = school_summary_rename_printout.sort_values('% Overall Passing Rate',ascending=True)
# bottom_School.head()
bottom_School.style.hide_index()

In [ ]:
#--Combine school_df and student_df
school_summary = pd.merge(school_df, student_df, how = "left", on=["school_name","school_name"])
school_summary.columns

In [ ]:
student_df.head(20)

In [ ]:
reading_score_df = student_df[['school_name','grade','reading_score']]
reading_score_df.head()

In [ ]:
# pivot_grade = reading_score_df.pivot( 
#                              index='school_name',                             
#                              columns='grade',
#                              values='reading_score')
pivot_grade = pd.pivot_table(reading_score_df, 
                             index='school_name',                             
                             columns='grade',
                             values='reading_score')
pivot_grade