In [3]:
#--Dependencies and Setup
import pandas as pd
import numpy as np

In [4]:
#--Point to csv files
school_path = "Resources/schools_complete.csv"
student_path = "Resources/students_complete.csv"

In [5]:
#--Read data and store in dataframe
school_df = pd.read_csv(school_path)
student_df = pd.read_csv(student_path)

In [6]:
#--District Summary Variables
schools_total
students_total
budget_total
math_avg
reading_avg
overall_avg
student_math70_greater
student_reading70_greater
student_math70_greater_count
student_reading70_greater_count
student_overall_70greater
student_overall_70greater_count
percent_pass_math
percent_pass_reading
percent_pass_overall
#--School Summary Variables

NameError: name 'schools_total' is not defined

In [ ]:
#--Check number of rows and columns
school_df.shape

In [ ]:
#--Check missin data (if some rows is missing)
school_df.count()

In [ ]:
#--Check number of rows and columns
student_df.shape

In [ ]:
#--Check missin data (if some rows is missing)
student_df.count()

In [ ]:
#--Combine school_df and student_df
data_combined = pd.merge(student_df, school_df, how = "left", on=["school_name","school_name"])

In [ ]:
data_combined

##--District Summary--##

In [ ]:
#--Calculate the total number of schools (school_total)
schools_total = school_df["school_name"].count()
schools_total

In [ ]:
students_total = student_df["Student ID"].count()
students_total

In [ ]:
budget_total = school_df["budget"].sum()
budget_total

In [ ]:
math_avg = student_df["math_score"].mean()
math_avg

In [ ]:
reading_avg = student_df["reading_score"].mean()
reading_avg

In [ ]:
overall_avg = (math_avg + reading_avg)/2
overall_avg

In [ ]:
student_math70_greater = student_df.loc[student_df["math_score"]>=70]
student_math70_greater_count = student_math70_greater["Student ID"].count()
student_math70_greater_count

In [ ]:
percent_pass_math = (student_math70_greater_count/students_total)*100
percent_pass_math

In [ ]:
student_reading70_greater = student_df.loc[student_df["reading_score"]>=70]
student_reading70_greater_count = student_reading70_greater["Student ID"].count()
student_reading70_greater_count

In [ ]:
percent_pass_reading = (student_reading70_greater_count/students_total)*100
percent_pass_reading

In [ ]:
student_overall_70greater = student_df.loc[(student_df["math_score"]>=70) & (student_df["reading_score"]>=70)]
student_overall_70greater_count = student_overall_70greater["Student ID"].count()
student_overall_70greater_count

In [ ]:
#--calculate using | result = 95% using & result = 65%
percent_pass_overall = (student_overall_70greater_count/students_total)*100
percent_pass_overall

In [ ]:
#--Create Dataframe from variables

district_summary = {
                "Total Schools" : [schools_total],
                "Total Students": [students_total],
                "Total Budget" : [budget_total],
                "Average Math Score" : [math_avg],
                "Average Reading Score" :[reading_avg],
                "% Passing Math" : [percent_pass_math],
                "% Passing Reading": [percent_pass_reading],
                "% Overall Passing Rate" : [overall_avg]
                }
pd.DataFrame.from_dict(district_summary)

##--School Summary--##

In [ ]:
#--Collect Schools Name
school_name_col = school_df.school_name.unique()
school_name_col

In [ ]:
# #--Combine school_df and student_df
# school_summary = pd.merge(school_df, student_df, how = "left", on=["school_name","school_name"])
# school_summary.columns

In [ ]:
student_df.head()

In [ ]:
school_df.head()

In [ ]:
student_df["school_name"].value_counts()

In [13]:
reading_math_pass = student_df
reading_math_pass.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,reading_pass
0,0,Paul Bradley,M,9th,Huang High School,66,79,0.0
1,1,Victor Smith,M,12th,Huang High School,94,61,1.0
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,1.0
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0.0
4,4,Bonnie Ray,F,9th,Huang High School,97,84,1.0

In [18]:
reading_math_pass.loc[reading_math_pass["reading_score"] >= 70, "reading_pass"] = 1
reading_math_pass.loc[reading_math_pass["reading_score"] < 70, "reading_pass"] = 0
reading_math_pass.loc[reading_math_pass["math_score"] >= 70, "math_pass"] = 1
reading_math_pass.loc[reading_math_pass["math_score"] < 70, "math_pass"] = 0
#reading_math_pass.loc[reading_math_pass["reading_score"] >= 70 ["math_score"] >= 70, "overall_pass"] = 1
#reading_math_pass.loc[reading_math_pass["reading_score"] < 70, "reading_pass"] = 0

reading_math_pass.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,reading_pass,math_pass
0,0,Paul Bradley,M,9th,Huang High School,66,79,0.0,1.0
1,1,Victor Smith,M,12th,Huang High School,94,61,1.0,0.0
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,1.0,0.0
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0.0,0.0
4,4,Bonnie Ray,F,9th,Huang High School,97,84,1.0,1.0

In [22]:
school_summary_df = reading_math_pass["school_name","student_name","reading_pass","math_pass"].head()

KeyError: ('school_name', 'student_name', 'reading_pass', 'math_pass')