In [72]:
#--Dependencies and Setup
import pandas as pd
import numpy as np

Delete line 10, 41

In [73]:
#--Point to csv files
school_path = "Resources/schools_complete.csv"
student_path = "Resources/students_complete.csv"

In [74]:
#--Read data and store in dataframe
school_df = pd.read_csv(school_path)
student_df = pd.read_csv(student_path)

In [75]:
#--Check number of rows and columns
school_df.shape

(15, 5)

In [76]:
#--Check missin data (if some rows is missing)
school_df.count()

School ID      15
school_name    15
type           15
size           15
budget         15
dtype: int64

In [77]:
#--Check number of rows and columns
student_df.shape

(39170, 7)

In [78]:
#--Check missin data (if some rows is missing)
student_df.count()

Student ID       39170
student_name     39170
gender           39170
grade            39170
school_name      39170
reading_score    39170
math_score       39170
dtype: int64

# --District Summary--##

In [79]:
schools_total = school_df["school_name"].count()
schools_total

15

In [80]:
students_total = student_df["student_name"].count()
students_total

39170

In [81]:
budget_total = school_df["budget"].sum()
budget_total

24649428

In [82]:
math_avg = student_df["math_score"].mean()
math_avg

78.98537145774827

In [83]:
reading_avg = student_df["reading_score"].mean()
reading_avg

81.87784018381414

In [84]:
overall_avg = (math_avg + reading_avg)/2
overall_avg

80.43160582078121

In [85]:
student_math70_greater = student_df.loc[student_df["math_score"]>=70]
student_math70_greater_count = student_math70_greater["Student ID"].count()
student_math70_greater_count

29370

In [86]:
percent_pass_math = (student_math70_greater_count/students_total)*100
percent_pass_math

74.9808526933878

In [87]:
student_reading70_greater = student_df.loc[student_df["reading_score"]>=70]
student_reading70_greater_count = student_reading70_greater["Student ID"].count()
student_reading70_greater_count

33610

In [88]:
percent_pass_reading = (student_reading70_greater_count/students_total)*100
percent_pass_reading

85.80546336482001

In [89]:
student_overall_70greater = student_df.loc[(student_df["math_score"]>=70) & (student_df["reading_score"]>=70)]
student_overall_70greater_count = student_overall_70greater["Student ID"].count()
student_overall_70greater_count

25528

In [90]:
#--calculate using | result = 95% using & result = 65%
percent_pass_overall = (student_overall_70greater_count/students_total)*100
percent_pass_overall

65.17232575950983

# --Disttrict Summary Report

In [91]:
#--Create Dataframe from variables

district_summary = {
                "Total Schools" : [schools_total],
                "Total Students": [students_total],
                "Total Budget" : [budget_total],
                "Average Math Score" : [math_avg],
                "Average Reading Score" :[reading_avg],
                "% Passing Math" : [percent_pass_math],
                "% Passing Reading": [percent_pass_reading],
                "% Overall Passing Rate" : [overall_avg]
                }
pd.DataFrame.from_dict(district_summary)

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
0,15,39170,24649428,78.985371,81.87784,74.980853,85.805463,80.431606

# --School Summary--##

In [92]:
# student_df.head()

In [93]:
#--Assign student_df to school_sum for calculating 
school_sum = student_df[['school_name','student_name','reading_score','math_score']]
# school_sum.head()

In [94]:
school_sum.loc[school_sum["reading_score"] >= 70, "reading_pass"] = 1
school_sum.loc[school_sum["reading_score"] < 70, "reading_pass"] = 0
school_sum.loc[school_sum["math_score"] >= 70, "math_pass"] = 1
school_sum.loc[school_sum["math_score"] < 70, "math_pass"] = 0

C:\Users\Panarat D\Anaconda3\lib\site-packages\pandas\core\indexing.py:376: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[key] = _infer_fill_value(value)
C:\Users\Panarat D\Anaconda3\lib\site-packages\pandas\core\indexing.py:494: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[item] = s

In [95]:
#--Check all data are numeric
# school_sum.describe()

In [96]:
#--GroupBy data to find count, mean, and sum in dataframe
grouped_schools = school_sum.groupby("school_name", as_index=False).agg({'student_name':'count',
                                                                         'reading_score':'mean',
                                                                         'math_score':'mean',
                                                                         'reading_pass':'mean',
                                                                         'math_pass':'mean',
                                                                         
                                 }).rename(columns={'reading_score':'Average Reading Score',
                                                    'math_score':'Average Math Score',
                                                   })    
# grouped_schools.head()

In [97]:
#--Calculate percentage of passing reading, math and overall
grouped_schools['% Passing Math'] = grouped_schools["math_pass"]*100
grouped_schools['% Passing Reading'] = grouped_schools["reading_pass"]*100
grouped_schools['% Overall Passing Rate'] = (grouped_schools['% Passing Math']+grouped_schools['% Passing Reading'])/2

# grouped_schools.head(14)

In [98]:
#--Merge School_df with grouped_schools(calculate percentage of reading, math and overall)
school_summary_table = pd.merge(school_df,grouped_schools, on=["school_name","school_name"])
# school_summary_table.columns

In [99]:
#--Calculate clumn 'Per Student Budget'
student_count = school_summary_table["budget"]/school_summary_table["size"]
school_summary_table['student_per_budget'] = student_count
# school_summary_table.head()

# --School Summary Report

In [100]:
#--Select Column in dataframe and organize columns
school_summary_table1 = school_summary_table[["school_name","type","size",
                                              "budget","student_per_budget",
                                               'Average Math Score','Average Reading Score',
                                               '% Passing Math','% Passing Reading',
                                                '% Overall Passing Rate']]
#--Format numeric to two decimals
school_summary_table2=school_summary_table1.round({'Average Math Score':2,'Average Reading Score':2,
                                               '% Passing Math':2,'% Passing Reading':2,
                                                '% Overall Passing Rate':2})
#--Rename the columns
school_summary_report=school_summary_table2.rename(columns ={'school_name':'School Name',
                                                            'type':'School Type',
                                                            'size':'Total Student',
                                                             'budget':'Total School Budget',
                                                            'student_per_budget':'Per Student Budget'
                                                             })
#--Print by hiding index
school_summary_report.style.hide_index()

# --Top Performing Schools (By Passing Rate)

In [101]:
#--Sort Data Decending 
top_School = school_summary_report.sort_values('% Overall Passing Rate',ascending=False)
top_School.style.hide_index()

# --Bottom Performing Schools (By Passing Rate)

In [102]:
#--Sort Data Ascending
bottom_School = school_summary_report.sort_values('% Overall Passing Rate',ascending=True)
bottom_School.style.hide_index()

# --Math Score by grades

In [103]:
math_score_df = student_df[['school_name','grade','math_score']]
# df.replace({'A': {0: 100, 4: 400}})
replace_math_score = math_score_df.replace({'grade': {'9th': 9, '10th': 10,'11th':11,'12th':12}})
replace_math_score.head()

         school_name  grade  math_score
0  Huang High School      9          79
1  Huang High School     12          61
2  Huang High School     12          60
3  Huang High School     12          58
4  Huang High School      9          84

In [104]:
# pivot_grade = reading_score_df.pivot( 
#                              index='school_name',                             
#                              columns='grade',
#                              values='reading_score')
pivot_math = pd.pivot_table(replace_math_score, 
                             index='school_name',                             
                             columns='grade',
                             values='math_score').reset_index()
rename_pivot_math = pivot_math.rename(columns ={'school_name':'School Name','9':'9th','10':'10th','11':'11th','12':'12th'})
rename_pivot_math.head()

grade           School Name          9         10         11         12
0        Bailey High School  77.083676  76.996772  77.515588  76.492218
1       Cabrera High School  83.094697  83.154506  82.765560  83.277487
2      Figueroa High School  76.403037  76.539974  76.884344  77.151369
3          Ford High School  77.361345  77.672316  76.918058  76.179963
4       Griffin High School  82.044010  84.229064  83.842105  83.356164

# --Reading Score by Grade Report

In [105]:
reading_score_df = student_df[['school_name','grade','reading_score']]
# df.replace({'A': {0: 100, 4: 400}})
replace_reading_score = reading_score_df.replace({'grade': {'9th': 9, '10th': 10,'11th':11,'12th':12}})
replace_reading_score.head()

         school_name  grade  reading_score
0  Huang High School      9             66
1  Huang High School     12             94
2  Huang High School     12             90
3  Huang High School     12             67
4  Huang High School      9             97

In [106]:
pivot_reading = pd.pivot_table(replace_reading_score, 
                             index='school_name',                             
                             columns='grade',
                             values='reading_score').reset_index()

rename_pivot_reading = pivot_reading.rename(columns ={'school_name':'School Name','9':'9th','10':'10th','11':'11th','12':'12th'})

# raname_pivot_reading1 = rename_pivot_reading.rename(columns ={'school_name':'School Name','9':'9th','10':'10th','11':'11th','12':'12th'})

# rename_pivot_reading = pivot_reading.rename_axis(index={'school_name':'School Name','9':'9th','10':'10th','11':'11th','12':'12th'})
rename_pivot_reading.head()
# pivot_reading.style.hide_index()

grade           School Name          9         10         11         12
0        Bailey High School  81.303155  80.907183  80.945643  80.912451
1       Cabrera High School  83.676136  84.253219  83.788382  84.287958
2      Figueroa High School  81.198598  81.408912  80.640339  81.384863
3          Ford High School  80.632653  81.262712  80.403642  80.662338
4       Griffin High School  83.369193  83.706897  84.288089  84.013699

# --Scores by School Spending

In [107]:
school_summary_report.columns

Index(['School Name', 'School Type', 'Total Student', 'Total School Budget',
       'Per Student Budget', 'Average Math Score', 'Average Reading Score',
       '% Passing Math', '% Passing Reading', '% Overall Passing Rate'],
      dtype='object')

In [147]:
scores_spending_df = school_summary_report[['Per Student Budget',
                                           'Average Math Score', 'Average Reading Score',
                                           '% Passing Math', '% Passing Reading', 
                                            '% Overall Passing Rate']]
scores_spending_df.head()

,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
0,655.0,76.63,81.18,65.68,81.32,73.50
1,639.0,76.71,81.16,65.99,80.74,73.36
2,600.0,83.36,83.73,93.87,95.85,94.86
3,652.0,77.29,80.93,66.75,80.86,73.81
4,625.0,83.35,83.82,93.39,97.14,95.27

In [136]:
# school_summary_report.loc['Per Student Budget']
# sort_budget = school_summary_report.sort_values('Per Student Budget',ascending=True)
# sort_budget

In [137]:
# Create the bins in which Data will be held
# Bins are 0, 59, 69, 79, 89, 100.   
bins = [0,586, 616, 646, 675]
# Create the names for the bins
group_names = ['<585', '585-615', '615-645','645-675']

In [138]:
scores_spending_bin = scores_spending_df
scores_spending_bin["Spending Ranges(Per Student)"] = pd.cut(scores_spending_df["Per Student Budget"], bins, labels=group_names)


# scores_spending_bin_report = scores_spending_bin.groupby('Spending Ranges(Per Student)')

# scores_spending_bin = scores_spending_df
# scores_spending_bin["Spending Ranges(Per Student)"] = pd.cut(scores_spending_df["Per Student Budget"], bins, labels=group_names)


scores_spending_bin_report = scores_spending_bin.groupby('Spending Ranges(Per Student)')
# scores_spending_bin_report.reset_index()
# scores_spending_bin_report = scores_spending_bin.loc[['Spending Ranges(Per Student)','Average Math Score', 'Average Reading Score',
#                                            '% Passing Math', '% Passing Reading', 
#                                             '% Overall Passing Rate']]
scores_spending_bin_report.max()

C:\Users\Panarat D\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
Spending Ranges(Per Student),,,,,,
<585,583.0,83.80,83.99,94.13,97.04,95.59
585-615,609.0,83.84,84.04,94.59,95.95,95.27
615-645,644.0,83.42,83.85,93.39,97.31,95.29
645-675,655.0,77.29,81.18,66.75,81.32,73.81

# --Scores by School Size

In [139]:
# size_bins = [0, 1000, 2000, 5000]
# group_names = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]

In [140]:
# school_summary_report.columns

In [141]:
# school_summary_report["Total Student"]

In [142]:
scores_schoolSize_df = school_summary_report[['Total Student',
                                           'Average Math Score', 'Average Reading Score',
                                           '% Passing Math', '% Passing Reading', 
                                            '% Overall Passing Rate']]
scores_schoolSize_df.head()

,Total Student,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
0,2917,76.63,81.18,65.68,81.32,73.50
1,2949,76.71,81.16,65.99,80.74,73.36
2,1761,83.36,83.73,93.87,95.85,94.86
3,4635,77.29,80.93,66.75,80.86,73.81
4,1468,83.35,83.82,93.39,97.14,95.27

In [143]:
# Create the bins in which Data will be held
bins = [0,1000, 2001, 5001]
# Create the names for the bins
group_names = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]

In [144]:
scores_schooSize_bin = scores_schoolSize_df
scores_schooSize_bin['School Size'] = pd.cut(scores_schooSize_bin["Total Student"], bins, labels=group_names)

# scores_schoolSize_bin_report = scores_spending_bin.groupby('School Size')
# scores_schoolSize_bin_report.max()
scores_schooSize_bin_report = scores_spending_bin.groupby('School Size').mean()
scores_schooSize_bin_report.max()

C:\Users\Panarat D\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

KeyError: 'School Size'

# --Scores by School Type

In [118]:
school_summary_report.columns

Index(['School Name', 'School Type', 'Total Student', 'Total School Budget',
       'Per Student Budget', 'Average Math Score', 'Average Reading Score',
       '% Passing Math', '% Passing Reading', '% Overall Passing Rate'],
      dtype='object')

In [129]:
score_school_type = school_summary_report[['School Type','Average Math Score', 'Average Reading Score',
       '% Passing Math', '% Passing Reading', '% Overall Passing Rate']]
# score_school_type.head()
groupby_school_type = score_school_type.groupby('School Type').mean()
# df.groupby(['col2','col3'], as_index=False).sum()
# groupby_school_type.reset_index()

groupby_school_type.head()

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
School Type,,,,,
Charter,83.472500,83.897500,93.620000,96.586250,95.103750
District,76.955714,80.965714,66.548571,80.798571,73.672857